<!DOCTYPE html>
<html>
<head>
    <title>Upload Car Excel File</title>
    <style>
         .button-container {
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
        }
        .pagination-button {
            padding: 8px 12px;
            background-color: #3498db;
            border: 1px solid #2980b9;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.2s;
        }

        .pagination-button:disabled {
            background-color: #bdc3c7;
            cursor: not-allowed;
        }
    </style>
</head>
<body>
    <h1>Tải lên file Excel danh sách xe</h1>
    <form action="/uploadCar" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required/>
        <button type="submit">Tải lên</button>
    </form>
    {{#if data}}
        <h2>Excel Data:</h2>
         <div class="button-container">
                <button id="saveButton" class="pagination-button">Lưu</button>
    </div>

        <table border="1"  id="data-table">
        <tr>
            <th>Biển số xe</th>
            <th>Loại hạng xe</th>
        </tr>
        {{#each data}}
            <tr>
                <td>{{lookup this 'Biển số'}}</td>
                <td>{{lookup this 'Ghi chú'}}</td>
            </tr>
        {{/each}}
    </table>
    {{/if}}
</body>
</html>

<script>
        document.getElementById('saveButton').addEventListener('click', function () {
            const rows = document.querySelectorAll('#data-table tbody tr');
            const data = [];

            rows.forEach(row => {
                const rowData = {
                    BienSoXe: row.cells[0].textContent,
                    LoaiHangXe: row.cells[1].textContent,
                };
                data.push(rowData);
            });

            fetch('/save-car', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(response => {
                if (response.ok) {
                    alert('Data saved successfully!');
                } else {
                    alert('Error saving data.');
                }
            }).catch(error => {
                console.error('Error:', error);
                alert('Error saving data.');
            });
        });
    </script>
