<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
    <div class="header">
      <a href="/search" class="logo">DAT</a>
      <div class="header-right">
        <a class="active" href="/search">Trang chủ</a>
        <a href="/">Nhập danh sách phiên</a>
        <a href="/xml">Nhập danh sách học viên</a>
        <a href="/car">Nhập danh sách xe</a>
        <a href="/allDat_session">Tất cả phiên</a>
        <a href="/allTotal">Kết quả</a>
        <a href="/reset">Reset</a>
      </div>
    </div>
    <div style="padding-left:20px">
      {{{body}}}
    </div>
  </body>
</html>